@import 'styles/constants';

.stages {
  background-color: $mintCream;
  border-radius: 24px;
  margin: 0 8px 64px 8px;
  padding: 40px;

  &_backgroundSmoke {
    background-color: $whiteSmoke;
  }

  &__title {
    margin-bottom: 56px;
    font-size: 42px;
    line-height: 48px;
    width: 45%;
  }

  &__content {
    grid-column-gap: 48px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-auto-columns: 1fr;
    margin-top: 3.5rem;
    display: grid;
  }

  &__figure {


    & img {
      border-radius: 12px;
    }
  }

  &__number {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__verticalLine {
    width: 1px;
    height: 100%;
    background-color: $blackColor;
    text-align: center;
  }

  &__description {

  }

  &__subtitle {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 32px;
  }
}