@import 'styles/constants';
@import 'styles/mixins';

.stages {
  margin: 0 8px 4.5rem 8px;
  border-radius: 24px;
  background-color: $mintCream;

  @include media-tablet {
    margin: 0 8px 32px 8px;
  }

  @include media-mobile {
    border-radius: 12px
  }

  &__wrapper {
    border-radius: 24px;
    padding: 40px;

    @include media-laptop {
      grid-template-columns: 1fr;
      padding: 40px 16px 40px 16px;
    }
  }

  &_backgroundSmoke {
    background-color: $whiteSmoke;
  }

  &__link {
    text-decoration: underline;
  }

  &__title {
    margin-bottom: 56px;
    font-size: 42px;
    line-height: 48px;
    width: 45%;

    @include media-laptop {
      width: 90%;
    }
  }

  &__content {
    grid-column-gap: 48px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "images description";
    grid-auto-columns: 1fr;
    margin-top: 3.5rem;
    display: grid;

    @include media-laptop {
      grid-template-columns: 1fr;
      grid-template-areas: "description"
      "images";
    }
  }

  &__figure {
    position: relative;
    height: 240px;
    grid-area: images;

    & img {
      object-fit: cover;
      border-radius: 12px;

      @include media-mobile {
        border-radius: 8px;
      }
    }
  }

  &__number {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__verticalLine {
    width: 1px;
    height: 100%;
    background-color: $blackColor;
    text-align: center;
  }

  &__description {
    display: flex;
    gap: 48px;
    grid-area: description;

    @include media-tablet {
      gap: 24px;
    }
  }

  &__subtitle {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 32px;
  }
}