.advantages {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.advantage {
  line-height: 34px;
  font-style: italic;
}

.txt {
  font-size: 16px;
  max-width: 50ch;
  margin-bottom: 28px;
}