@import 'styles/constants';
@import 'styles/mixins';

.button {
  background-color: $blackColor;
  text-align: center;
  padding: 16px;
  font-weight: 700;
  color: $whiteColor;
  display: inline-block;
  margin-bottom: 32px;
  border: none;
  transition: all 500ms ease;

  @include media-mobile {
    display: flex;
    justify-content: center;
  }

  &:hover {
    background-color: #aaaaaa;
  }
}