@import 'styles/constants';
@import 'styles/mixins';

.details {
  margin: 100px 8px 16px 8px;

  &__wrapper {
    border-radius: 24px 24px 24px 24px;
    background-color: $whiteSmoke;
  }

  &__grid {
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    grid-auto-columns: 1fr;
    display: grid;
  }

  &__description {
    padding: 40px;
  }

  &__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: $blackColor;
    margin-bottom: 32px;
  }

  &__subtitle {
    margin-bottom: 56px;
    max-width: 50ch;
  }

  &__figure {
    position: relative;
  }

  &__image {
    object-fit: cover;
    border-radius: 0 24px 24px 0;
  }

}
