@import 'styles/constants';
@import 'styles/mixins';

.details {
  margin: 96px 8px 16px 8px;

  @include media-tablet {
    margin: 84px 8px 16px 8px;
  }

  &__wrapper {
    border-radius: 24px 24px 24px 24px;
    background-color: $whiteSmoke;

    @include media-mobile {
      border-radius: 12px;
    }
  }

  &__grid {
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    grid-template-columns: 50% 50%;
    grid-auto-columns: 1fr;
    display: grid;

    @include media-laptop {
      grid-template-columns: 100%;
    }
  }

  &__description {
    padding: 40px;

    @include media-laptop {
      padding: 20px 16px;
    }
  }

  &__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 83px;
    color: $blackColor;
    margin-bottom: 32px;

    @include media-tablet {
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 32px;
    }

    @include media-mobile {
      font-size: 36px;
      line-height: 46px;
    }
  }

  &__subtitle {
    margin-bottom: 56px;
    max-width: 50ch;
  }

  &__figure {
    position: relative;

    @include media-laptop {
      height: 590px;
    }

    @include media-mobile {
      height: 430px;
    }
  }

  &__image {
    object-fit: cover;
    border-radius: 0 24px 24px 0;

    @include media-laptop {
      border-radius: 8px 8px 24px 24px;
    }

    @include media-mobile {
      border-radius: 4px 4px 12px 12px;
    }
  }

}
