@import 'styles/constants';
@import 'styles/mixins';

.hero {
  margin: 100px 8px 4.5rem 8px;

  @include media-tablet {
    margin: 74px 8px 32px 8px;
  }

  &__wrapper {
    grid-auto-columns: 1fr;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    background-color: $whiteSmoke;
    border-radius: 24px;
    overflow: hidden;
    padding: 48px 0 72px 40px;

    @include media-laptop {
      grid-template-columns: 100%;
      padding: 48px 16px 72px 16px;
    }

    @include media-mobile {
      border-radius: 12px;
      padding: 38px 16px 72px 16px;
    }
  }

  &__title {
    font-size: 72px;
    line-height: 83px;
    font-weight: 700;
    margin-bottom: 32px;

    @include media-mobile {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 32px;
      line-height: 46px;
    }
  }

  &__subtitle {
    max-width: 55ch;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 28px;

    @include media-laptop {
      max-width: 95%;
    }

  }

  &__subtitle_1 {
    max-width: 55ch;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 22px;

    @include media-laptop {
      max-width: 95%;
    }

  }

  &__figure {
    position: relative;
    height: 590px;

    @include media-tablet {
      height: 400px;
    }
  }

  &__image {
    object-fit: cover;
  }
}

.sliderHero {
  .slick-list {
    width: 50vw;
    height: 690px;
    overflow: hidden;
    border-radius: 24px 0 0 24px;

    @include media-laptop {
      width: 100vw;
    }

    @include media-tablet {
      height: 400px;
    }

    @include media-mobile {
      border-radius: 12px 0 0 12px;
    }
  }

  .slick-track {
    overflow: hidden;
  }

  .slick-slide {
    img {
      border-radius: 24px;

      @include media-mobile {
        border-radius: 12px
      }
    }
  }

  .slick-active {
    opacity: 1;
    margin-right: 16px;
    width: 45vw !important;
    overflow: hidden;
    border-radius: 24px;

    @include media-laptop {
      width: 85vw !important;
    }

    @include media-mobile {
      border-radius: 12px
    }
  }

  .slick-prev,
  .slick-next {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 560px;
    z-index: 1;

    @include media-tablet {
      top: 370px;
    }
  }

  .slick-next {
    left: 60px;
    background-color: $blackColor;
    border-radius: 0 24px 0 0;

    &:before {
      color: $whiteColor;
      opacity: 1;
    }

    &:focus {
      background: $blackColor;
    }

    &:hover {
      background: $blackColor;
    }
  }

  .slick-prev {
    background-color: $whiteSmoke;
    left: 0;

    &:before {
      color: $blackColor;
      opacity: 1;
    }

    &:focus {
      background: $whiteSmoke;
    }

    &:hover {
      background: $whiteSmoke;
      color: $whiteSmoke;
    }
  }
}