@import 'styles/constants';
@import 'styles/mixins';

.gallery {
  margin: 0 8px 16px 8px;

  &__wrapper {
    border-radius: 24px 24px 24px 24px;
    background-color: $mintCream;
    padding: 40px;

    @include media-laptop {
      padding: 16px;
    }

    @include media-mobile {
      border-radius: 12px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    @include media-laptop {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: $blackColor;

    @include media-laptop {
      margin-bottom: 20px;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__button {
    border: none;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:hover {
      border-bottom: solid 1px $blackColor;
    }
  }

  &__button_active {
    border-bottom: solid 1px $blackColor;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;

    .sliderGroup {
      flex: 1 1 calc(33.33% - 10px);
      max-width: calc(33.33% - 10px);

      @include media-tablet {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
      }

      @include media-mobile {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }

  &__figure {
    width: 100%;
    height: 340px;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
    position: relative;

    @include media-mobile {
      border-radius: 8px 8px 0 0;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;

    @include media-mobile {
      border-radius: 8px 8px 0 0;
    }
  }

  &__loadMore {
    text-align: center;
    margin-top: 2rem;
  }
}

.sliderGroup {
  width: 100%;
  text-align: center;
}

.projectTitle {
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0;
  color: $blackColor;
}


