@import '../../styles/constants';
@import '../../styles/mixins';

.contacts {
  margin: 96px 8px 48px 8px;

  @include media-tablet {
    margin: 84px 8px 32px 8px;
  }

  &__wrapper {
    grid-auto-columns: 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $whiteSmoke;
    border-radius: 24px 24px 24px 24px;

    @include media-laptop {
      grid-template-columns: 1fr;
    }

    @include media-mobile {
      border-radius: 12px
    }
  }

  &__description {
    align-self: center;
    padding-left: 40px;
    border-radius: 24px 0 0 24px;

    @include media-laptop {
      padding: 10px 16px;
    }
  }

  &__title {
    font-size: 72px;
    line-height: 83px;
    font-weight: 700;
    margin: 20px 0 32px 0;

    @include media-mobile {
      font-size: 36px;
      margin: 0 0 22px 0;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @include media-laptop {
      flex-direction: column;
      align-items: start;
    }
  }

  &__figure {
    position: relative;
    margin-left: auto;
    margin-bottom: 20px;
    width: 260px;
    height: 260px;

    @include media-laptop {
      margin-left: 0;
    }
  }

  &__image {
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
  }

  &__subtitle {
    max-width: 60ch;
    margin-bottom: 24px;
  }

  &__links {
    margin-bottom: 48px;
  }

  &__link {
    display: flex;

    &_left {
      width: 80px;
    }

    &_right {
      font-weight: 700;
    }
  }
}
