@import 'constants';


@mixin font ($fontSize, $lineHeight, $fontWeight, $textColor) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $textColor;
}

@mixin flex ($flexDirection: row, $justify: space-between, $align: center, $wrap: nowrap, $gap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin background ($repeat: no-repeat, $cover: cover, $position: center) {
  background-repeat: $repeat;
  background-size: $cover;
  background-position: $position;
}

@mixin media-desktop {
  @media (min-width: $content-width) { @content; }
}

@mixin media-laptop {
  @media (min-width: $desktop-width) { @content; }
}

@mixin media-tablet {
  @media (min-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (min-width: $mobile-width) { @content; }
}

